body{
    background-image: url("./Untitled\ design\ \(1\).png");
    font-family: 'Lora', serif;
    font-size: larger;
    background-position: center;
    opacity: 80%;
    
}

#title{
        margin: 20px;
        margin-bottom: 15px;
        text-shadow: 4px 0 #232931;
        font-size: 4rem;
        color: lightcoral;
        font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: normal;
}

.labels{
    text-align: center;
}

.name{
    text-align: center;
    color: grey;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    font-size: large;
    outline: none;
}

.btn a{
    text-decoration: none;
    color: none;
}

.btn{
    color: white;
    font-size: medium;
    background-color: brown;
    background-image: linear-gradient(brown, orange);
    margin-top: 30px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}