body{
    background-image: url("./Untitled\ design\ \(1\).png");
    font-family: 'Lora', serif;
    font-size: larger;
    background-position: center;
    opacity: 100%;
    
}

#title{
        margin: 20px;
        margin-bottom: 15px;
        text-shadow: 4px 0 #232931;
        font-size: 4rem;
        color: lightcoral;
        font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.labels{
    text-align: center;
    color: black;
}

.name{
    text-align: center;
    color: grey;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    font-size: large;
    outline: none;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn{
    color: white;
    font-size: medium;
    background-color: brown;
    background-image: linear-gradient(brown, orange);
    margin-top: 30px;
    padding: 20px;
    border: 1px solid pink;
    border-radius: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer{
    margin: 10px;
    margin-top: 15px;
    text-shadow: 1px 0 #232931;
    font-size: 1rem;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

